//==================== COLORS =====================

$teal-primary: #1fdbb2;
$teal-secondary: #199479;
$blue: #1E798D;
$orange: rgb(187, 53, 12);
$light-grey-1: #969797;
$light-grey-2: #E4E4E4;
$dark-grey-1: rgba(35, 36, 36, 0.973);
$dark-grey-2: rgb(52, 54, 54);
$dark-grey-3: rgb(58, 61, 61);
$dark-grey-4: rgb(71, 75, 75);

//================== FONT SIZES ===================

$f-size-xs: .8rem;
$f-size-s: 1rem;
$f-size-m: 1.15rem;
$f-size-l: 1.35rem;
$f-size-xl: 2rem;
$f-size-xxl: 3rem;

//===================== GAPS ======================

$gap-xxs: 0.25rem;
$gap-xs : 0.5rem;
$gap-s : 0.75rem;
$gap-m : 1rem;
$gap-l : 1.5rem;
$gap-xl : 3rem;
$gap-xxl : 5rem;

//==================== OTHER ======================

$nav-height : 40px;
$section-shadow: 1px 10px 16px 0px rgba(0, 0, 0, 0.4);
$button-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.4);


.app-container {
    background-color: $dark-grey-1;

    nav {
        width: 100%;
        position: fixed;
        height: $nav-height;
        padding: $gap-xs $gap-m;
        background-color: $dark-grey-2;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $teal-secondary;
        z-index: 99;

        & menu {
            width: 100%;
            display: flex;
            justify-content: space-between;

            li,
            li>* {
                color: $teal-primary;
            }

            font-size: $f-size-m;
            display: flex;
            gap: $gap-l;
            justify-content: center;
            align-items: center;

            .logo-container {
                box-shadow: $button-shadow;
                border-radius: 50%;

                .logo {
                    display: block;
                    width: 30px;
                }
            }

            .navlink {
                font-size: $f-size-s;
                text-transform: uppercase;
                text-shadow: 1px 1px 2px $dark-grey-1;

                &.active {
                    color: $teal-secondary;
                }
            }

            .user {
                margin-left: auto;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 0.25rem 0.5rem;
                align-self: flex-end;
                border-radius: 1em;
                display: flex;
                align-items: center;
                gap: $gap-xs;
                font-size: $f-size-xs;
                color: $teal-primary;
            }
        }
    }
}

//================== GENERIC =========================
.btn {
    font-size: inherit;
    padding: .25em .5em;
    border-radius: .35em;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: $button-shadow;
    background-color: $teal-secondary;
    color: $light-grey-2;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 400px;
    cursor: pointer;
    transition: border-color 0.25s;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    padding: calc($gap-m + $nav-height) $gap-m $gap-m $gap-m;
    gap: $gap-l;
}

.container {
    min-width: 50vw;
    background-color: $dark-grey-2;
    padding: $gap-s;
    border-radius: .35em;
    display: grid;
    box-shadow: $section-shadow;
}

.playlists.container,
.tracks.container {
    height: 100%;
    justify-content: center;
}

.list-wrapper {
    min-width: 40vw;
    max-width: 1000px;

    ul {

        .l-item:nth-child(even) {
            background-color: $dark-grey-3;
        }

        .l-item {
            width: 100%;
            padding: $gap-xxs $gap-xxs $gap-xxs $gap-xs ;
            border-radius: .35em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $gap-s;
            border: 1px solid $dark-grey-4;

            a {
                display: flex;
                gap: $gap-xs;

                figure {
                    height: 32px;
                    width: 32px;
                    border-radius: 0.35em;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }
            }

            &:hover {
                background-color: $dark-grey-4;
                border-left: 1px solid $teal-primary;

                .l-item-link {
                    color: $teal-primary;
                }
            }

            .btn.remove {
                display: grid;
                place-content: center;
                height: 32px;
                width: 32px;
                color: $light-grey-2;
                background-color: $orange;
                box-shadow: none;
                border: 1px solid $dark-grey-3;
            }
        }
    }
}

.form-wrapper {
    height: fit-content;
    text-align: center;
    padding: $gap-m;

    h2 {
        text-transform: uppercase;
        margin-bottom: $gap-m;
    }
}

.form {
    display: grid;
    gap: $gap-m;
    justify-content: center;

    .toggle-wrapper {
        display: flex;
        justify-self: right;
        align-items: center;
        gap: $gap-s;
        span{
            font-size: $f-size-xs;
        }
        label {
            display: flex;
            background-color: $orange;
            width: 50px;
            height: 25px;
            border-radius: 50px;
            cursor: pointer;
            position: relative;
            transition: 0.3s;
        }

        label::before {
            position: absolute;
            content: '';
            background-color: $light-grey-2;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            margin: 2px;
            transition: 0.3s;
        }

        input:checked+label {
            background-color: $teal-secondary;
        }

        ;

        input:checked+label::before {
            transform: translateX(25px);
        }

        input {
            display: none;
        }
    }

    .input-group {
        display: grid;
        gap: $gap-s;
        grid-template-columns: repeat(2, 1fr);

        .duration {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $gap-s;

            input {
                min-width: 78px;
            }
        }
    }

    input:not([type="checkbox"]) {
        min-width: 19.5vw;
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: $gap-m 0;

        .btn.add {
            width: 250px;
        }
    }
}

.input-wrapper {
    position: relative;
    display: grid;
    align-items: center;

    & input {
        padding: 1em;
        border-radius: .35em;
        outline: none;
        border: 1px solid $teal-secondary;
    }

    & label {
        font-size: $f-size-xs;
        color: $light-grey-1;
        pointer-events: none;
        text-transform: uppercase;
        position: absolute;
        top: 1em;
        left: .35em;
        transition: .3s;
        padding: 0 0.35em;
        height: fit-content;
    }

    & input:focus+label,
    & input:valid+label {
        transform: translateX(.8em) translateY(-1.7em);
        background-color: $teal-secondary;
        color: $light-grey-2;
        border-radius: .25em;
    }
}