//==================== COLORS =====================

$teal-primary: hsl(167, 75%, 49%);
$teal-secondary: hsla(167, 75%, 49%, 0.65);
$purple: hsl(253, 77%, 60%);
$dark-grey-1: rgba(35, 36, 36, 0.973);
$dark-grey-2: rgb(52, 54, 54);

//================== FONT SIZES ===================

$f-size-xs: 0.85rem;
$f-size-s: 1rem;
$f-size-m: 1.15rem;
$f-size-l: 1.35rem;
$f-size-xl: 2rem;
$f-size-xxl: 3rem;

//===================== GAPS ======================

$gap-xs : 0.5rem;
$gap-s : 0.75rem;
$gap-m : 1rem;
$gap-l : 1.5rem;
$gap-xl : 3rem;
$gap-xxl : 5rem;

//==================== OTHER ======================

$nav-height : 40px;
$shadow: 1px 10px 16px 0px rgba(0, 0, 0, 0.4);

//================== SPECIFIC =========================

.app-container {
    background-color: $dark-grey-1;

    nav {
        height: $nav-height;
        padding: $gap-xs $gap-m;
        background-color: $dark-grey-2;

        & menu {

            li, li>* {
                color: $teal-primary;
            }

            font-size: $f-size-m;
            display: flex;
            gap: $gap-m;
            justify-content: flex-end;
            align-items: center;

            .logo-container {
                display: grid;
                place-content: center;
                margin-right: auto;
                .logo {
                    display: block;
                }
            }

            .navlink {
                &.active {
                    color: $teal-secondary;
                }
            }
        }
    }
}

//================== GENERIC =========================

.page {
    height: calc(100vh - $nav-height);
    display: grid;
    grid-template-columns: 1fr 40vw;
    padding: $gap-m;
}